@import "tailwindcss";
@import "./styles/_variables.css";
@import "./styles/_font-family.css";
@import "./styles/_scroll.css";

#root {
  height: 100vh;
}

body {
  font-size: 14px;
}

#modal-root {
  position: relative;
  z-index: 999;
}